.c-header {
  .main-menu {
    display: flex;

    > ul {
      display: flex;
      flex-direction: row;

      > li {
        list-style: none;
        padding: 0 1rem;
        display: flex;
        align-items: center;

        &:first-of-type {
          padding-left: 0;
        }

        > a {
          text-decoration: none;

          &.-current {
            border-bottom: 1px solid black;
          }
        }
      }
    }
  }
}
