.Select.c-select,
.Select.c-select.has-value,
.Select.c-select.is-focused {
  width: 60px;
  margin-left: auto;

  .Select-control {
    background-color: $main-color;
    border-color: rgba(#fff, 0.6);

    .Select-value {
      .Select-value-label {
        color: #fff;
      }
    }
  }

  .Select-arrow {
    border-top-color: #fff;
  }
}
